<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects | Joraj J R</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/55917b94b9.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="Projects">
  
        <nav class="nav-bar-container make-sticky">
          <div class="logo-head"><span>JR</span></div>
          <div class="nav-items">
            <div class="item"><a href='http://localhost:3000'>Home</a></div>
            <div class="item"><a href='http://localhost:3000/about'>About</a></div>
            <div class="item"><a href='/projects'>Projects</a></div>
            <div class="item"><a href='/vision'>Vision</a></div>
            <div class="item"><a href='http://localhost:3000/contact'>Contact</a></div>
          </div>
        </nav>
  
        <section class="ProjectsHero">
          <h1>Projects</h1>
        </section>

        <section class="projects">

            <div class='divider-holder flex-box' style="margin-bottom: 50px;">
                <div class='divider'></div>
            </div>

            <h1 class="flex-box">Android Framework</h1>

            <div class='divider-holder flex-box' style="margin-bottom: 100px;">
                <div class='divider'></div>
            </div>

            <!-- Project Item -->
            <div class="project-item flex-box">
                <div class="cert-holder">
                    <img src="https://raw.githubusercontent.com/myselfjoraj/CloudBox/refs/heads/main/app/src/main/res/drawable-v24/cloud_box_logo.png" alt="" srcset="">
                </div>
                <div class="project-l">
                    <h1>Cloud Box - Cloud Storage Application</h1>
                    <p>
                        I have managed to build an android based Application for my minor project for University Institiute of Technology, Pirappancode.
                    </p>
                    <p> <b>Technologies Used : </b>Android, Java, XML, Kotlin, GCP</p><br>
                    <a class="project-btn" href="https://github.com/myselfjoraj/CloudBox"> <i class="fa fa-brands fa-github" style="color: white;"></i> View Project</a>
                </div>
            </div>
            <!--End Project Item -->

            <!-- Project Item -->
            <div class="project-item flex-box">
                <div class="cert-holder">
                    <img src="https://raw.githubusercontent.com/myselfjoraj/ReactSafe/refs/heads/master/app/src/main/res/drawable/react_safe_logo.png" alt="" srcset="">
                </div>
                <div class="project-l">
                    <h1>React Safe - Accident Detection System</h1>
                    <p>
                        I have managed to build an android based Application for my major project for University Institiute of Technology, Pirappancode.
                    </p>
                    <p> <b>Technologies Used : </b>Android, Java, XML, Kotlin, GCP</p><br>
                    <a class="project-btn" href="https://github.com/myselfjoraj/ReactSafe"> <i class="fa fa-brands fa-github" style="color: white;"></i> View Project</a>
                </div>
            </div>
            <!--End Project Item -->


            <div class='divider-holder flex-box' style="margin-bottom: 50px;">
                <div class='divider'></div>
            </div>

            <h1 class="flex-box">Flask Framework</h1>

            <div class='divider-holder flex-box' style="margin-bottom: 100px;">
                <div class='divider'></div>
            </div>

            <!-- Project Item -->
            <div class="project-item flex-box">
                <div class="cert-holder">
                    <img src="https://raw.githubusercontent.com/myselfjoraj/Codenest-Flask/refs/heads/main/static/assets/images/codenest-logo2.png" alt="" srcset="">
                </div>
                <div class="project-l">
                    <h1>Code Next - Online Source Code Backup Site</h1>
                    <p>
                        I have managed to build an web based Application for my project for Exatech.
                    </p>
                    <p> <b>Technologies Used : </b>HTML, CSS, JavaScript, Python, Flask, Mysql, NGINX</p><br>
                    <a class="project-btn" href="https://github.com/myselfjoraj/Codenest-Flask"> <i class="fa fa-brands fa-github" style="color: white;"></i> View Project</a>
                </div>
            </div>
            <!--End Project Item -->

            <!-- Project Item -->
            <div class="project-item flex-box">
                <div class="cert-holder">
                    <img src="https://www.exatech.co.in/wp-content/uploads/2024/04/exatech_logo.jpg" alt="" srcset="">
                </div>
                <div class="project-l">
                    <h1>Exa Learn - Online Education Platform</h1>
                    <p>
                        I have managed to build an web based Application for my project for Exatech.
                    </p>
                    <p> <b>Technologies Used : </b>HTML, CSS, JavaScript, Python, Flask, Mysql, NGINX</p><br>
                    <a class="project-btn" href="https://github.com/myselfjoraj/ExaLearn"> <i class="fa fa-brands fa-github" style="color: white;"></i> View Project</a>
                </div>
            </div>
            <!--End Project Item -->


            <div class='divider-holder flex-box' style="margin-bottom: 50px;">
                <div class='divider'></div>
            </div>

            <h1 class="flex-box">Wordpress Framework</h1>

            <div class='divider-holder flex-box' style="margin-bottom: 100px;">
                <div class='divider'></div>
            </div>

            <!-- Project Item -->
            <div class="project-item flex-box">
                <div class="cert-holder">
                    <img src="https://i.pinimg.com/736x/f3/2d/1e/f32d1e5024a58d918fe08f7496b4474e.jpg" alt="" srcset="">
                </div>
                <div class="project-l">
                    <h1>CMS Website of University Institute of Technology, Pirappancode</h1>
                    <p>
                        I have managed to build a website based Content Management System for University Institiute of Technology, Pirappancode, 
                        the college in which I have completed my BSc. in Computer Science
                    </p>
                    <p> <b>Technologies Used : </b>HTML, CSS, JavaScript, PHP, Wordpress, Mysql, Apache</p>
                    <br>
                    <a class="project-btn" href="http://uitppcd.com"> <i class="fa fa-brands fa-github" style="color: white;"></i> View Project</a>
                </div>
            </div>
            <!--End Project Item -->

        </section>
        
  
        






  
        <section class="footer">
        <div class="footer-row">
          <div class="footer-col">
              <h4>JORAJ J R</h4>
              <p>
                A passionate programmer,<br>graduated from Kerala University.
              </p>
              <div class="icons">
                <i class="fa fa-brands fa-facebook-f"></i>
                <i class="fa fa-brands fa-twitter"></i>
                <i class="fa fa-brands fa-linkedin"></i>
                <i class="fa fa-brands fa-github"></i>
              </div>
            </div>
            <div class="footer-col">
              <h4>Info</h4>
              <ul class="links">
                <li><a href="#">Home Page</a></li>
                <li><a href="#">About Page</a></li>
                <li><a href="#">Vision Page</a></li>
                <li><a href="#">Projects Page</a></li>
                <li><a href="#">Contact Page</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>Projects</h4>
              <ul class="links">
                <li><a href="#">Cloud Box Android App</a></li>
                <li><a href="#">React Safe Android App</a></li>
                <li><a href="#">Exa Learn Web App</a></li>
                <li><a href="#">Code Next Web App</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>Contact</h4>
              <ul class="links">
                <li><a href="#">+91 8086786159</a></li>
                <li><a href="#"></a></li>
                <li><a href="#">linkedin.com/in/myselfjoraj</a></li>
                <li><a href="#">github.com/myselfjoraj</a></li>
              </ul>
            </div>
        </div>
      </section>
  
      </div>

      <script src="https://kit.fontawesome.com/55917b94b9.js" crossorigin="anonymous"></script>
</body>
</html>
