<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vision | Joraj J R</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/55917b94b9.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="Vision">
  
        <nav class="nav-bar-container make-sticky">
          <div class="logo-head"><span>JR</span></div>
          <div class="nav-items">
            <div class="item"><a href='/'>Home</a></div>
            <div class="item"><a href='/about'>About</a></div>
            <div class="item"><a href='/projects'>Projects</a></div>
            <div class="item"><a href='/vision'>Vision</a></div>
            <div class="item"><a href='/contact'>Contact</a></div>
          </div>
        </nav>
  
        <section class="VisionHero">
          <h1>Vision</h1>
        </section>

        <section class="vision">
            <div class="vision-container">
            <h1 class="vision-head">Vision &amp; Goals</h1>
            <p class="vision-desc">
                As an Android Developer, my vision is to craft innovative mobile applications that enhance user experiences and solve real-world problems. 
                I aim to stay at the forefront of technology, continuously learning and adapting to new trends. My goal is to create intuitive, high-performance applications that empower users 
                and make technology accessible to everyone. I aspire to collaborate with diverse teams, bringing ideas to life through creativity and technical expertise, ultimately shaping a 
                future where technology seamlessly integrates into everyday life.
            </p>
            </div>

            <div class='divider-holder flex-box'>
                <div class='divider'></div>
            </div>

            <!-- <h1 class="vision-head flex-box">My Goals</h1>

            <p class="vision-desc">
                My goal is to continually enhance my skills as an Android Developer by mastering new technologies and frameworks. 
                I aim to build innovative and user-centric applications that address real-world challenges.
                 In the long term, I aspire to take on leadership roles, mentor upcoming developers, and contribute to meaningful projects that drive the tech community forward. 
                 Ultimately, I seek to create a lasting impact in the field of mobile development
            </p> -->

            <h1 class="vision-short">Short Term Goals In My Life</h1>

            <ul>
                <li>Enhance Skills</li>
                <p>Master key Android development tools and frameworks, such as Kotlin, Jetpack Compose, and Android Studio</p>

                <li>Complete My Education</li>
                <p>Get a Post Graduation degree from Kerala University on Computer Science</p>

                <li>Contribute to Open Source</li>
                <p>Join an open-source project to gain experience working with others and to enhance my coding skills</p>

                <li>Creating a Network</li>
                <p>Attend industry meetups, conferences, and workshops to connect with other developers and expand my professional network</p>

                <li>Freelance Projects</li>
                <p>Take on freelance work to gain real-world experience and build my knowledge on coding with diverse projects.</p>
                
            </ul>

            <h1 class="vision-long">Long Term Goals In My Life</h1>

            <ul>
                <li>Become a Lead Developer</li>
                <p>Aim to advance to a lead developer position, where I can mentor junior developers and guide project teams</p>

                <li>Do Specialization</li>
                <p>Develop expertise in a specific area of Android development, such as mobile security, user interface design, or machine learning integration.</p>

                <li>Launch a Startup</li>
                <p>Starting my own company or app that addresses a gap in the market or solves a significant problem</p>

                <li>Contribute to Community</li>
                <p>Share my knowledge by writing articles, giving talks, or creating tutorials to help other aspiring developers</p>

                <li>Create a Personal Brand</li>
                <p>Build a strong online presence through a personal blog, YouTube channel, or social media, sharing insights and projects related to Android development.</p>
            </ul>

        </section>
        
  
        






  
        <section class="footer">
        <div class="footer-row">
          <div class="footer-col">
              <h4>JORAJ J R</h4>
              <p>
                A passionate programmer,<br>graduated from Kerala University.
              </p>
              <div class="icons">
                <i class="fa fa-brands fa-facebook-f"></i>
                <i class="fa fa-brands fa-twitter"></i>
                <i class="fa fa-brands fa-linkedin"></i>
                <i class="fa fa-brands fa-github"></i>
              </div>
            </div>
            <div class="footer-col">
              <h4>Info</h4>
              <ul class="links">
                <li><a href="#">Home Page</a></li>
                <li><a href="#">About Page</a></li>
                <li><a href="#">Vision Page</a></li>
                <li><a href="#">Projects Page</a></li>
                <li><a href="#">Contact Page</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>Projects</h4>
              <ul class="links">
                <li><a href="#">Cloud Box Android App</a></li>
                <li><a href="#">React Safe Android App</a></li>
                <li><a href="#">Exa Learn Web App</a></li>
                <li><a href="#">Code Next Web App</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>Contact</h4>
              <ul class="links">
                <li><a href="#">+91 8086786159</a></li>
                <li><a href="#"></a></li>
                <li><a href="#">linkedin.com/in/myselfjoraj</a></li>
                <li><a href="#">github.com/myselfjoraj</a></li>
              </ul>
            </div>
        </div>
      </section>
  
      </div>

      <script src="https://kit.fontawesome.com/55917b94b9.js" crossorigin="anonymous"></script>
</body>
</html>
